---
// import '../styles/tpv.css';
import '../styles/base.css';
import '../styles/component.css';
import '../styles/dashboard.css';


---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Auth</title>
  </head>
  <body>
    <slot />  
    <script src="/js/search.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  </body>
</html>
