---
// import '../styles/tpv.css';
import '../styles/base.css';
import '../styles/component.css';
import '../styles/dashboard.css';

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Auth</title>
  </head>
  <body>
    <slot />  
    <script src="/js/search.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const formatter = new Intl.NumberFormat("en-PH", {
          style: "currency",
          currency: "PHP",
          minimumFractionDigits: 2,
        });

        document.querySelectorAll("[data-price]").forEach(el => {
          const value = parseFloat(el.textContent.replace(/[^\d.-]/g, ""));
          if (!isNaN(value)) {
            el.textContent = formatter.format(value).replace("₱", "₱ ");
          }
        });
      });
    </script>
  </body>
</html>
