---
import Navbar from '@components/navbar/Navbar.astro';
import '../styles/global.css';
import '../styles/base.css';
import '../styles/component.css';

interface Props {
  title?: string;
}

const { title = ' bakeryApp' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main >
      <slot />
    </main>
    <footer class="footer">
      <p>&copy; {new Date().getFullYear()} NX Coffee & Bread. All rights reserved.</p>
    </footer>
      <script>
      document.addEventListener("DOMContentLoaded", () => {
        const formatter = new Intl.NumberFormat("en-PH", {
          style: "currency",
          currency: "PHP",
          minimumFractionDigits: 2,
        });

        document.querySelectorAll("[data-price]").forEach(el => {
          const value = parseFloat(el.textContent.replace(/[^\d.-]/g, ""));
          if (!isNaN(value)) {
            el.textContent = formatter.format(value).replace("₱", "₱ ");
          }
        });
      });
  </script>
  </body>
</html>
